<h1><%= @gauge.name %></h1>
<div>Units: <%= @gauge.unit %></div>
<div>Start Date: <%= @gauge.start_date.to_fs %></div>
<div>End Date: <%= @gauge.end_date.to_fs %></div>
<div id='gauge-logs-section'>
  <table>
    <tr>
      <th>Time of logging</th>
      <th>Value</th>
      <th>Approved status</th>
      <th>Actions</th>
    </tr>
    <%= render partial: "gauge_log", collection: @gauge.gauge_logs, locals: { profile: @profile } %>
  </table>
  <%= render partial: 'add_gauge_log_form', locals: { gauge_id: @gauge.id } if @profile.is_employee? %>
</div>