<% if gauge_log.approved? %>
  <td><%= gauge_log.date.to_fs %></td>
  <td><%= gauge_log.value %></td>
  <td><%= "Approved by #{gauge_log.approved_by.name}" %></td>
<% else %>
  <td>
    <%= form_with model: gauge_log, url: "/gauge_logs/update" do |form| %>
      <%= form.hidden_field :id %>
      <%= form.date_field :date , id: "date-input-#{gauge_log.id}"%>
      <%= form.submit "Update Date" %>
    <% end %>
  </td>
  <td>
      <%= form_with model: gauge_log, url: "/gauge_logs/update" do |form| %>
      <%= form.hidden_field :id %>
      <%= form.number_field :value , id: "value-input-#{gauge_log.id}"%>
      <%= form.submit "Update Value" %>
    <% end %>
  </td>
  <td></td>
<% end %>
